:root {
  --hemingway-active-top-line-color: #cc0000;
  --hemingway-active-top-line-width: 3px;
}

.view-content.hemingway .cm-editor {
  border-top: var(--hemingway-active-top-line-width) solid var(--hemingway-active-top-line-color);

  .cm-content {
    pointer-events: none;
  }
}

.view-content.hemingway.ptm-fullscreen-writing-focus-element .cm-editor {
  border-top: none !important;
}
